
body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
}
h1{
    font-size: 50px;
}

h1{
    font-size: 30px;
}
.name{
    color:orange;
}
.half-div{
    width:40%;
    float:left;
    margin-left:5% ;
    padding-left:2% ;
}
.half-div img{
    width:100%;
    
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
    
}
section{
height:500px;
padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding:10px 20px;
    border-radius:5px ;
    color:#444;
    font-weight: bold;
}
.width{
    float:right;
}
.extra{
    color:dimgray;
}
.resume{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding:10px 20px;
    border-radius:5px ;
    color:#444;
    font-weight: bold;
}
.dream{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.Experience{
    float:right;
}
.ss{
    height:500px;
    width: 50px;
}
.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:80%;
}
.Experience{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    background-color: white;
}#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
    background-color: white;
}
.align{
    text-align: center;
}
